# pcd/.htaccess
RewriteEngine On

# Redirecionar tudo para Public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ Public/index.php [QSA,L]

# Permitir acesso direto a arquivos estáticos
RewriteRule ^(css|js|images)/ - [L]